{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />

    <!-- Utk icon browser -->
    <link rel="shortcut icon" href="../../static/peber_web/favicon.ico">
    <link rel="icon" href="favicon.png">

    <title>{% block title %} Base Template {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'peber_web/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom style -->
    <link rel="stylesheet" href="{% static 'peber_web/css/style.css' %}" type="text/css"> {# 'peber_web/style.css'; namespaces utk apps #}

    <!-- Javascript -->
    <script src="{% static 'peber_web/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'peber_web/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'peber_web/js/aplikasi.js' %}"></script>
    <script src="{% static 'peber_web/js/cari.js' %}"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{% static 'peber_web/js/ie8-responsive-file-warning.js' %}></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

</head>

<body>

<!-- Navbar -->

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'peber_web:index' %}">Peber</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% block navbarku %}
                    <li><a href="{% url 'peber_web:news_source_page' %}">News Sources</a></li>
                    <li><a href="{% url 'peber_web:summary_eval' %}">Evaluations</a></li>
                    <li><a href="#" title="I think you know that! :)">About</a></li>
                {% endblock %}

            </ul>

            {# Bagian user yg login #}
            <p class="navbar-text pull-right">
                {% block logged_user %}
                    User
                {% endblock %}
            </p>

        </div><!--/.nav-collapse -->


    </div>
</div>
<!-- /Navbar -->


<!-- Konten Keseluruhan, dibawah Navbar -->
<div class="container">
    <div class="row">
        <!-- TLeft Navigation -->
        <div class=" col-md-offset-1 col-md-2 col-sm-3">

            {% block sidebar %}
                    {# Bagian utk side bar #}
            {% endblock %}

        </div>
        <!-- END-Left Navigation -->


        <!-- Konten Kolom 2-->
        <div class="col-md-8 col-sm-9" style="text-align:left;">

                {% block content %}
                    {# Bagian utk content #}
                {% endblock %}

        </div>
        <!-- END -  Konten Kolom 2-->

    </div>
    <!-- END-All content -->



    <!-- FOOTER -->
    <footer style="margin-top:50px;">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
            &copy; 2016 Peber<br>
        </p>
    </footer>

</div>

</body>
</html>
