{% extends "peber_web/base.html" %}
{% load humanize %}
{% block title %}Peringkas Berita{% endblock %}

{% block logged_user %}
    {% if logged_user %}
        Hi, {{ logged_user }} | <a href="{% url 'peber_web:logout' %}" class="navbar-link">Logout</a>
    {% else %}
        Hi, there! | <a href="{% url 'peber_web:login' %}" class="text-warning">Login</a>
    {% endif %}
{% endblock %}

{% block sidebar %}

    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="{% url 'peber_web:index' %}">
                <span class="badge pull-right">{{ all_news_size }}</span>
                All News
            </a>
        </li>
        <li class="">
            <a href="{% url 'peber_web:news_source_page' %}">
                <span class="badge pull-right">{{ news_sources|length }}</span>
                News Source
            </a>
        </li>


    </ul>


    <ul>
        <li><a href="{% url 'peber_web:add_news_source' %}">Add news source</a>
        </li>
        <li><a href="{% url 'peber_web:register_user' %}">Register Admin</a>
        </li>
        <li><a href="{% url 'peber_web:add_peber_web_user' %}">Add Peber User</a>
        </li>
        <li><a href="{% url 'peber_web:login' %}">Login</a></li>
        <li><a href="{% url 'peber_web:logout' %}">Logout</a></li>
    </ul>

    User list
    <ul>
        {% for user in user_list %}
            <!--
            var url mengambil nilai dari peber_web.urls, name='detail'
            pada namespaces (file:peber_ex/urls.py) "peber_web". Hal
            ini berguna jika dalam project terdapat beberapa app.
            -->
            <li> <a href="{% url 'peber_web:user_detail' user.id %}">{{user.user.username}}</a>
            <ul>
                {% for favo in user.news_choices.all %}
                    <li>
                        {{ favo.source_category }}
                    </li>
                {% endfor %}
            </ul>
            </li>
        {% endfor %}

    </ul>

    <h2>Search</h2>

    {% csrf_token %}
    <input type="search" name="search_text" id="search_text" title="Cari data" placeholder="Cari user">

    <ul id="rearch_results">

    </ul>
    <p>C: <strong>{{language}}</strong> | S: <strong>{{session_language}}</strong></p>

{% endblock %}


{% block content %}


    {% if all_news %}

        {% for news in all_news %}
            <div class="media">
                <a class="pull-left" href="{% url 'peber_web:detail' news.id %}">
                    <img class="media-object" src="{% comment %}{{ news.news_image_hero }}{% endcomment %}"
                         alt="{{ news.id }}" title="{{ news.id }}" width="150">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">
{#                    <span class="glyphicon glyphicon-asterisk un-read"></span>#}
                        {{ news.news_title }}
                    </h3>
                    {{ news.news_corp }} <a href="{% url 'peber_web:detail' news.id %}">Read more</a>
                    <span class="news_pub_date">{{ news.news_pub_date|naturalday }}</span>

                    <p class="news_summary">
                        {% autoescape off %}{{ news.news_summary }}{% endautoescape %}
                    </p>

                    <!-- <p style="font-weight: bolder;">{{ news.news_content|truncatewords:50 }}</p>
                    <p class="news_content">{% autoescape off %}{{ news.news_content_web_format }}{% endautoescape %}</p> -->
                </div>
            </div>
            <hr />
        {% endfor %}

    {% else %}
        <p>No data found!</p>
    {% endif %}

{% endblock %}