{% extends "peber_web/base.html" %}
{% load staticfiles %}
{% load humanize %}

{# Judul Halaman #}
{% block title %}
    {% if current_ns %}
        {{ current_ns }}
    {% else %}
        News Source
    {% endif %}
{% endblock %}

{% block navbarku %}
    <li class="active"><a href="{% url 'peber_web:news_source_page' %}">News Sources</a></li>
    <li><a href="{% url 'peber_web:summary_eval' %}">Evaluations</a></li>
{% endblock %}

{% block logged_user %}
    {% if logged_user %}
        Hi, {{ logged_user }} | <a href="{% url 'peber_web:logout' %}" class="navbar-link">Logout</a>
    {% else %}
        Hi, there! | <a href="{% url 'peber_web:login' %}" class="text-warning">Login</a>
    {% endif %}
{% endblock %}

{% block sidebar %}

    <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="{% url 'peber_web:index' %}">
                <span class="badge pull-right">{{ all_news_size }}</span>
                All News
            </a>
        </li>
        <li class="active">
            <a href="{% url 'peber_web:news_source_page' %}">
                <span class="badge pull-right">{{ news_sources|length }}</span>
                News Source
            </a>
        </li>
        <li class="">
            <a href="{% url 'peber_web:summary_eval' %}">
                {% comment %}<span class="badge pull-right">000</span>{% endcomment %}
                Evaluations
            </a>
        </li>

    </ul>

{% endblock %}


{% block content %}

    {% if news_data %}

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" style="font-weight: bolder;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span id="collapsableBtn" class="glyphicon glyphicon-chevron-down pull-left" style="margin-right:10px;"></span> Evaluation for "{{ current_ns }}" News
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">

          <table class="table table-bordered table-condensed table-hover">
            <thead>
            <tr>
                <th rowspan="2">News id</th>
                <th class="text-center" colspan="3">Word count</th>
                <th rowspan="2">F-Score</th>
                <th rowspan="2">Precision</th>
                <th rowspan="2">Recall</th>
            </tr>
            <tr>
                {% comment %}<th>News id</th>{% endcomment %}
                <th>Original</th><th>Text Teaser</th><th>Text Rank</th>
                {% comment %}<th>F-Score</th>
                <th>Precision</th>
                <th>Recall</th>{% endcomment %}
            </tr>
            </thead>
            <tbody>
            {% for news in news_data %}
                <tr>
                    <td>
                        <a class="pull-left" href="{% url 'peber_web:detail' news.id %}" target="_new">{{ news.id }}</a>
                    </td>
                    <td>{{ news.news_content|wordcount }}</td><td>{{ news.news_summary|wordcount }}</td><td>{{ news.news_text_rank_summary|wordcount }}</td>
                    <td>{{ news.f_score }}</td><td>{{ news.precision }}</td><td>{{ news.recall }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>

             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Collapse evaluations">
                <span id="collapsableBtn" class="glyphicon glyphicon-chevron-up pull-right"></span>
             </a>

          </div>
        </div>
      </div>

      <!-- Judul saja untuk kebutuhan belajar (Feb 3) -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" style="font-weight: bolder;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <span id="collapsableBtn" class="glyphicon glyphicon-chevron-down pull-left" style="margin-right:10px;"></span> Title only
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">

            {% for news in news_data %}
                <span>{{ news.news_title }}</span><br />
            {% endfor %}

             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" title="Collapse evaluations">
                <span id="collapsableBtn" class="glyphicon glyphicon-chevron-up pull-right"></span>
             </a>

          </div>
        </div>
      </div>

      </div>

      <hr>

         {% for news in news_data %}


            <div class="media">
                
                <div class="media-body">
                    <h3 class="media-heading">{{ news.news_title }}</h3>
                    {{ news.news_corp }} <span class="news_pub_date">{{ news.news_pub_date }}</span>
                     <table class="table">
                        <thead>
                        <tr>
                            <th>F-Score</th><th>Precision</th><th>Recall</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ news.f_score }}</td><td>{{ news.precision }}</td><td>{{ news.recall }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{{news.news_url}}" target="_blank" title="{{news.news_url}}">Original article</a> | 
                    <a href="{% url 'peber_web:detail' news.id %}" target="_blank">Read more</a>


                    <p class="news_summary">Summary:<br />{% autoescape off %}{{ news.news_summary }}{% endautoescape %}</p>
                    <p style="font-weight: bolder;">Original:<br />{{ news.news_content|truncatewords:100 }}</p>
                    <p class="news_content">{% autoescape off %}{{ news.news_content_web_format|truncatewords:100 }}{% endautoescape %}</p>
                </div>
            </div>
            <hr />
        {% endfor %}

    {% else %}
        {% if news_count %}

        <div class="list-group">
            {% for i in news_count %}

                  <a href="{% url 'peber_web:news_category' i.ns_id %}" class="list-group-item" target="_new">
                    <span class="badge">{{i.news_num}}</span>
                      <strong>{{i.source_name}}</strong><br>
                    ID {{i.ns_id}} &centerdot; {{ i.source_url }}
                  </a>

            {% endfor %}
        </div>
        {% endif %}

    {% endif %}

{% endblock %}